body {
  -webkit-font-smoothing: antialiased;
}

/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.card {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    padding: 2rem;
    border: 2px solid #707070;
    border-radius: 12px;
    /* text-align: left;     */
    text-decoration: none;
    color: #343a40;
    background-color:#fbfbfb;
    font-family: 'Noto Sans Thai', sans-serif;
}


.title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
    text-decoration: none;

}

.information {
    font-size: 15px;
    /* margin: auto; */
    margin-top: 0px;
    
}

.card:hover {
    transform: scale(0.93, 0.93);
    box-shadow: 2px 5px 12px 4px rgba(0,0,0,0.4),
     0px -2px 12px 4px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in-out;
}


img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
  }
