body {
  -webkit-font-smoothing: antialiased;
}

/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.card {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    /* padding: 2rem; */
    border: 2px solid #707070;
    border-radius: 12px;
    /* text-align: left;     */
    text-decoration: none;
    color: black;
    background-color:#e9ecef;
    font-family: 'Noto Sans Thai', sans-serif;
}


.title {
    font-size: 1.4em;
    font-weight:700;
    margin: 0px;
    margin-top: 1px;
    text-decoration: none;
}

.information {
    font-size: 15px;
    /* margin: auto;
    margin-top: 10px; */
    
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  