
.topnav {
    overflow: hidden;
    background-color: #ffa94d;
  }

  .topnav a {
    float: left;
    color: #f8f9fa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .search-bar {
    float: right;
    margin-top: 8px;
    margin-right: 16px;
  }

  .topnav input[type="text"] {
    padding: 6px;
    border: none;
    
 }
  


