.seasoning-info {
    /* display: flex; */
    flex-direction: column;
    /* gap: 2rem; */
    padding: 2rem;
    border: 2px solid #707070;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans Thai', sans-serif;
    background-color:#fbfbfb;
}

.seasoning-title {
    font-size: 30px;
    text-align: left;
    text-shadow: 1px 1px 1px #817f7f;
}

.seasoning-btn button {
    margin-top: 3rem;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #494343;
    font-size: 1rem;
}

.seasoning-btn {
    text-align: center;
}

input {
    font-family: 'Noto Sans Thai', sans-serif;
    margin-right: 1rem;

}